.bloque{
  margin-top: -70px;
}

.blanco{
  background-color: white;
  height: 100px;
  width: 110%;
  margin: -8px;
  margin-top: -70px;
  z-index: 100;
}

p{
  text-align: center;
  font-size: 25px;
}